:root {
    --main-backgroud-color: #f8fafd;
    --white: #ffffff;
    --blue-50: #e6ebf3;
    --blue-100: #b1c0d9;
    --blue-200: #8ba1c6;
    --blue-300: #5576ad;
    --blue-400: #355c9d;
    --blue-500: #083071;
    --blue-600: #122b54;
    --blue-700: #0b2144;
    /* orange colors */
    --orange-50: #fdf2eb;
    --orange-100: #f8d7c2;
    --orange-200: #f5c4a5;
    --orange-300: #f0a97c;
    --orange-400: #ed9862;
    --orange-500: #e97e3b;
}

.btn-primary {
    background-color: var(--orange-500) !important;
}
.o_pos_kanban .o_kanban_renderer .o_kanban_ungrouped .o_kanban_record {
    width: 300px !important;
}
.pos {
    overflow: auto !important;
}
.product-screen {
    overflow: auto !important;
}

.order_list {
    max-height: 40px !important;
    background-color: var(--main-backgroud-color);
}
.os-logo {
    display: none;
}
.main_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.main-app {
    margin-right: 20px;
    background: linear-gradient(
        to right bottom,
        var(--main-backgroud-color),
        var(--main-backgroud-color)
    );
}
.header_1 {
    display: inline-flex;
}
.hi_icon {
    padding: 5px;
    margin: 5px;
    width: 40px;
    height: 40px;
    size: 40px;
}

.current_date {
    font-size: 14px;
    font-weight: 300;
    color: var(--blue-400);
    position: relative;
    letter-spacing: 0.1cap;
    top: 10px;
    /* text-align: end; */
}
.good_morning {
    font-size: 18px;
    font-weight: 600;
    color: var(--blue-400);
    position: relative;
    letter-spacing: 0.1cap;
    top: 10px;
}
.current_day_time {
    align-self: flex-end;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    position: absolute;
    color: var(--blue-400);
    letter-spacing: 0.1cap;
    top: 10px;
    text-align: end;
    margin-right: 0px !important;
}
#clear_icon {
    background-color: var(--orange-100);
    color: var(--orange-300);
    text-align: center;
    padding: 7px;
    border-radius: 4px;
}

#clear_icon:hover {
    background-color: var(--orange-200);
    color: var(--orange-500);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

#products_id {
    width: 100% !important;
}
.search_box_1 {
    /* margin: 20px; */
}
.search_box {
    /* width: 100% !important; */
    /* display: -webkit-box; */
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--main-backgroud-color);
}
.inputefield {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    width: 100% !important;
}

.main_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo {
    margin: 5px;
    border-radius: 10px;
    margin-top: 20px;
    width: 25px;
    height: 25px;
}

.main-app .sidebar {
    width: 90px;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: 5px;
    background: var(--white);
}

@media (max-width: 768px) {
    .main-app .sidebar {
        width: 60px;
    }
}

.main-app .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
}

.main-app .menu-item {
    list-style: none;
    position: relative;
    width: 54px;
    height: 54px;
}

.main-app .menu-txt {
    opacity: 0;
    width: 0px;
    min-width: 0px;
    overflow: hidden;
    transition: 300ms linear;
    transition-delay: 250ms;
    display: flex;
    align-items: center;
    position: relative;
    top: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.main-app .menu-a {
    /* padding: 35px 33.5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.main-app .menu-icon {
    display: block;
    font-size: 1.5rem;
    color: #355c9d;
    position: relative;
    z-index: 100;
    transition: 400ms;
}

@media (min-width: 768px) {
    .main-app .menu-item:hover .menu-txt {
        opacity: 1;
        width: 100%;
        min-width: 40px;
        padding: 0px 10px;
        transition-delay: 0s;
        color: #4c4c4c;
        font-size: 15px;
        font-weight: 600;
        align-self: center;
    }
    .main-app .menu-item:hover .menu-icon {
        color: #0f0f0f;
    }
}

.pos_imag {
    width: 100px;
    height: 100px;
}

.main-app .menu-txt-hld {
    position: absolute;
    z-index: 99;
    /* background: rgba(255, 255, 255, 0); */
    /* border: 1px solid rgba(0, 0, 0, 0); */
    /* border-radius: 10px; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
    padding: 9.5px 8px;
    /* transition: 250ms linear; */
    display: flex;
    align-items: center;
    transition-delay: 300ms;
    /* left: 22px; */
}

@media (min-width: 768px) {
    /* .main-app .menu-item:hover .menu-txt-hld {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07);
        background: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.05);
        transition-delay: 0ms;
        left: 5px;
        max-height: 50px;
    } */
}

.main-app .active .menu-icon {
    color: #6e2222;
}

.custom-header .card {
    margin-left: 20px;
}
.custom-header .top-container {
    display: flex;
    align-items: center;
}
.custom-header .profile-image {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-header .name {
    font-size: 15px;
    font-weight: bold;
    color: #251f1f;
    position: relative;
    top: 0px;
}
.custom-header .mail {
    font-size: 14px !important;
    color: #251f1f;
    position: relative;
    top: -15px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    max-width: 185px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: all 0.3s ease;
    margin: 2px;
    background-color: white;
}

.product-card .title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
}

.product-card .price {
    color: #888;
    margin: 5px;
}

.pos .product-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
}

.pos .product-img {
    width: 85%;
}

.pos .product-img img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}

.pos .products-widget .products-widget-control {
    display: none;
    box-shadow: unset !important;
    padding: 5px;
}

.pos .rightpane {
    background: var(--main-backgroud-color) !important;
}
.bg-100,
.text-bg-100 {
    background: var(--main-backgroud-color) !important;
}

.box {
    position: relative;
    margin-left: auto;
    right: 10px;
}
@media (max-width: 768px) {
    .box {
        position: absolute;
    }
}

[badge]:after {
    background: #a8a8a8;
    border-radius: 10rem;
    color: #fff;
    content: attr(badge);
    font-size: small;
    min-width: 18px;
    padding: 2px;
    position: absolute;
    text-align: center;
    left: 1.7em;
    bottom: 1.7em;
    z-index: 999;
}

@media (min-width: 768px) {
    .pos .leftpane {
        max-width: 400px;
        height: calc(100% - 30px);
        margin: 15px;
        background-color: #ffffff;
        /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 47%); */
        border: unset;
    }
}

.pos .order-container {
    border-radius: 10px 10px 0px 0px;
}

.pos *::-webkit-scrollbar {
    width: 0 !important;
}

.pos .screen {
    background: #ededed !important;
}

.pos .mode-button.selected-mode {
    background: var(--main-backgroud-color);
}

.pos .button.validation {
    background: var(--orange-400);
}
.pos .button.back-button {
    color: white;
}

.pos .button.validation:hover {
    background: linear-gradient(
        to right bottom,
        rgb(61 72 142),
        rgb(63 54 128)
    ) !important;
}

.pos .button.pay-order-button {
    background-color: var(--orange-500);
    border: none !important;
    /* background: linear-gradient(to right bottom, var(--background-color), var(--background-color)); */
}

.pos .button.pay-order-button:hover {
    background: linear-gradient(
        to right bottom,
        rgb(61 72 142),
        rgb(63 54 128)
    ) !important;
}

.pos .order .orderline.selected {
    background: rgb(70 71 166 / 33%) !important;
}

.pos .oe_status {
    cursor: default;
}

.pos .oe_status .d-inline-block {
    display: inline-block;
}

.pos .mode-button.selected-mode:hover {
    background: var(--main-backgroud-color) !important;
}

.pos .category-button {
    display: inline-flex;
    margin: 5px !important;
    width: 160px;
    height: 60px;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.pos .category-button .category-img {
    position: relative;
    width: 55px;
    text-align: center;
    cursor: pointer;
    object-fit: contain;
    padding: 5px;
    height: calc(100% - 10px);
}

.pos .category-button .category-img img {
    object-fit: cover;
    width: 100%;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.pos .category-button .category-name {
    display: inline-grid;
    position: relative;
    width: unset;
    align-content: center;
    padding-top: unset;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #251f1f;
}

.pos .category-list {
    background: none;
}

.pos .categories {
    border-bottom: none;
}

.pos .category-list-scroller {
    max-height: 85px;
}

.pos .breadcrumb-button {
    color: #251f1f;
}

.pos .breadcrumb-arrow {
    width: 10px;
}

.pos a.button {
    color: #fff;
}

.ticket-screen .controls button.highlight {
    background: var(--blue-400);
    border-color: var(--blue-400);
}

.pos .orders .order-row:hover,
.pos .orders .order-row.highlight {
    background-color: var(--blue-400);
}

.pos .control-button.highlight,
.pos .button.highlight {
    color: #fff !important;
    background: var(--blue-400) !important;
    border-color: #494cab !important;
}

.pos .popup .button {
    color: #111;
    border: 1px solid var(--blue-400);
}

.screen .top-content .button {
    border: 1px solid var(--blue-400);
}

.pos .partner-list tr.partner-line:hover {
    color: #fff;
    background: var(--blue-200) !important;
}
#btn-create-cust {
    color: #fff;
    background: var(--blue-200) !important;
}
#btn-confirm {
    color: #fff;
    background: var(--blue-400) !important;
}

.pos textarea:focus {
    box-shadow: 0px 0px 0px 3px var(--blue-400);
}

.pos .category-simple-button:active {
    padding: 10px;
    background-color: var(--blue-400) !important;
    /* color: var(--blue-400); */
}

.pos .switchpane .btn-switchpane.secondary {
    color: #fff;
}

.payment-screen .paymentlines-empty .total {
    color: var(--blue-400);
}

.pos .rightpane-header {
    flex-direction: unset;
    border-radius: 5px;
}

.pos .partner-list tr.partner-line.highlight {
    color: #fff;
    background: var(--blue-200) !important;
}

.menu-item .oe_status i {
    font-size: 22px;
}

.category-simple-button {
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
    transition: all 0.8s ease;
}
.category-simple-button:hover {
    background: var(--blue-400);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.btn.cashier-name {
    background: none !important;
}
.bg-100,
.text-bg-100 {
    --background-color: var(--main-backgroud-color);
    background-color: var(--main-backgroud-color) !important;
}
.bg-200,
.text-bg-200 {
    background-color: var(--main-backgroud-color) !important;
}
.search-products .h-100 {
    height: 30px !important;
}

.products-widget-control-category {
    /* border-radius: 7px; */
    padding: 7px;
    padding-left: 9px;
    padding-bottom: 5px;
    background-color: var(--main-backgroud-color) !important;
    border: none !important;
    box-shadow: none !important;
}

#search-products .input-container {
    position: relative;
}

#search-products .input-container input {
    opacity: 0; /* Hide input visually */
    width: 0; /* Collapse input width */
    min-width: 0 !important;
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out; /* Add transition for smooth animation */
}

#search-products .input-container:hover input {
    opacity: 1; /* Show input on hover */
    width: 300px; /* Expand input width on hover */ /* Adjust width as needed */
}

/* Optional animation for icon */
#search-products .input-container:hover i {
    animation: search-icon-expand 0.8s ease-in-out;
}

@keyframes search-icon-expand {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.6);
    } /* Adjust scale as desired */
}
#search-products .input-group {
    width: 34px;
    border-radius: 25px;
    background: none !important;
    transition: opacity 2s ease-in-out, width 0.5s ease-in-out;
}
#search-products .input-group:hover {
    width: 300px;
    border-radius: 20px;
    background: #fff !important;
}
.home-category-button {
    padding: 10px;
    margin: 15px;
}

#search-products .input-group > .form-control {
    border: solid 1px;
    border-radius: 20px;
}
.menu-a.SyncNotification .btn-light {
    border: none !important;
    background-color: transparent !important;
}

.menu-item .menu-txt-hld .px-4 {
    padding-left: 5px !important;
    color: #fff;
}
.btn-light.active {
    color: #fff;
    background-color: #71639e;
    border-color: #71639e;
}

@media (max-width: 768px) {
    .products-widget-control .search-products .lg-screen,
    .products-widget-control .search-products .lg-screen-cat {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .products-widget-control .sm-screen,
    .products-widget-control .sm-screen-cat {
        display: none !important;
    }
}

.products-widget-control .sm-screen .input-group.h-100 {
    height: 65% !important;
}
.cashier-name {
    max-width: 270px;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
.highlight {
    background-color: var(--blue-400);
    color: var(--main-backgroud-color);
    border-radius: 4px;
}
