@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container,
    .o_container_small {
        max-width: 100% !important;
        max-height: 999px !important;
    }
}

.heading_wellcome {
    font-weight: 700;
    font-size: 24px;
    color: $new_heading_color;
}
.heading_wellcome1 {
    font-size: 16px;
    color: $new_heading_color;
}
#wrapwrap {
    overflow: hidden !important;
    font-family: Sora !important;
}
.img-fluid {
    max-width: 100%;
    max-height: 99% !important;
    min-height: 97% !important;
}

.login_color {
    color: $new_heading_color !important;
    min-height: 24px !important;
}
.form_padding {
    padding: 10px 12px !important;
}
.login_color_button {
    background-color: $new_login_button_backgroud !important;
    border-color: $new_login_button_backgroud !important;
    padding: 10px 12px !important;
}

body:has(.oe_website_login_container) {
    #top {
        background-color: $main_backgroud_color !important;
        // text-align: right;
        width: 100%;
        height: 91px;
        margin-left: auto;
        margin-right: 0;
    }
    #bottom {
        display: none;
    }
    .shadow-sm {
        box-shadow: 0px 2px 0px 0px #5576ad5e !important;
    }
    header nav.navbar {
        background-color: $main_backgroud_color !important;
        .shadow-sm {
            box-shadow: none !important;
        }
    }
    #wrapwrap {
        background-color: $main_backgroud_color !important;
        overflow: hidden; /* Ensures the border-radius clips the image */

        .login_label {
            font-weight: 700;
            font-size: 19px;
            color: #011537;
            font-weight: bold;
            text-decoration: underline;
            margin: 0px;
        }

        .login_side_image {
            // margin-top: -50px !important;
            width: 100% !important;
            height: auto !important;
            margin: 0px !important;
            object-fit: cover; /* ✅ fills parent while keeping image ratio */
            display: block;
            border-radius: 10px !important;
        }

        .parent-container {
            display: flex;
            justify-content: center; /* Horizontal centering */
            align-items: center; /* Vertical centering */
            // height: 100vh; /* Full viewport height */
            background-color: $new_login_background_color !important;
        }

        .login_side_container {
            background-color: $new_login_card_color !important;
            padding: 10px;
            width: 487px;
            // margin: 2%;
        }
        .login-view-bits {
            .oe_login_form,
            .oe_signup_form,
            .oe_reset_password_form {
                .input-group {
                    a.btn {
                        background-color: $main_backgroud_color !important;
                        color: #fff !important;
                        border-radius: 0px 8px 8px 0px !important;
                        display: flex !important;
                        align-items: center;
                        i {
                            color: #fff !important;
                            padding-left: 5px;
                            margin-top: -4px;
                        }
                    }
                }
                input,
                .form-control {
                    display: block;
                    width: 100%;
                    // padding: 0.775rem 1rem;
                    font-size: 1.1rem;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #011537;
                    appearance: none;
                    // background-clip: padding-box;
                    border: 1px solid #dbdfe9;
                    border-radius: 0.475rem;
                    transition: border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                    &#db {
                        border-radius: 8px 0px 0px 8px !important;
                    }
                }
                .col-form-label,
                .form-label {
                    font-size: 14px !important;
                    font-weight: bold !important;
                }
            }
            .card-body {
                box-shadow: 0px 0px 10px #d2d1d1;
                border-radius: 30px;
            }
            .oe_login_buttons {
                .btn-primary[type="submit"] {
                    padding: 14px;
                    border-radius: 8px;
                    background: $mk_color_primary;
                    color: #fff;
                    font-size: 14px;
                    &:hover,
                    &:active,
                    &:focus {
                        color: $mk_color_primary;
                        background: #fff;
                        border: 1px solid $mk_color_primary;
                    }
                }
                a,
                button.btn {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            div.small {
                a,
                button.btn {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}
